<br />
<h1 style="text-align:center" class="neontitle">
  <span class="glyphicon glyphicon-film"></span> <i>Reel</i> Movie Reviews <span class="glyphicon glyphicon-film"></span> 
</h1>
<br class="clear"/>

<% @movies.each do |m| %>

  <div class="col-xs-10 col-xs-offset-1 neon-box">
    <h2><%= link_to m.name, movie_path(m) %></h2><br />
    
      <div class="col-xs-5 col-xs-offset-1">
        <h3><span class="glyphicon glyphicon-film"></span> Release Year: <%= m.release_year %></h3>
      </div>
      <div class="col-xs-5 col-xs-offset-1">
        <h3><span class="glyphicon glyphicon-film"></span> Rating: 
          <% m.rating.times do %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
          <% if m.rating < 5 %>
            <% (5 - m.rating).times do %>
              <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
          <% end %>
        </h3>
      </div>
    <br />
    <br />
    <blockquote><%= m.review %></blockquote>
  </div>
  <br />

<% end %>

